<!DOCTYPE html>
{%extends 'base.html'%}
{% load static %}
{%block baseblock%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div style="background-color: rgb(218, 218, 235); padding: 20px; margin-bottom: 100px;">
    <form method="post" >

        <h5>{{ form}}</h5>
    {%csrf_token%}
    <input type="submit" value="post" >
</form>
</div>
{%endblock%}
</body>
</html>

